# dependencies
node_modules/

# next.js
/.next/
/out/
next-env.d.ts
*.tsbuildinfo

# environment
.env
.env.local

# prisma
/prisma/migrations/dev.db*

# local storage / build artifacts
.storage/
dist/
*.log
